@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "DM Serif Display", serif;
  background: whitesmoke;
}

h1 {
  text-align: center;
  color: rgb(53, 53, 53);
  margin-top: 25px;
  margin-bottom: 15px;
  font-weight: 200;
  letter-spacing: 5px;
}

/* Image Container */
.image-container {
  /* 10px represents top and bottom margins here (vertical margins), 20% represents right and left (horizontal margins). */
  margin: 10px 20%;
}

/* Media Query: Large Smartphone */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  .image-container {
    margin: 10px;
  }
}